# Import libraries

In [59]:
#Import libraries
import pandas as pd
import numpy as np
import zipfile
import distutils.util as util

# Gather

In [22]:
# Zipfile name
zip_name = "student-alcohol-consumption.zip"

In [23]:
#unzip file
with zipfile.ZipFile(zip_name, "r") as Zip:
    Zip.extractall()

In [24]:
# csv file names
math_csv = "student-mat.csv"
portuguese_csv = "student-por.csv"

In [25]:
# load unzipped csv files
df_math = pd.read_csv(math_csv)
df_portuguese = pd.read_csv(portuguese_csv)

# Assess 1

In [33]:
# Set all the columns to be visible
pd.set_option('display.max_columns', None)

In [34]:
df_math

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian,traveltime,studytime,failures,schoolsup,famsup,paid,activities,nursery,higher,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,course,mother,2,2,0,yes,no,no,no,yes,yes,no,no,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,course,father,1,2,0,no,yes,no,no,no,yes,yes,no,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,other,mother,1,2,3,yes,no,yes,no,yes,yes,yes,no,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,home,mother,1,3,0,no,yes,yes,yes,yes,yes,yes,yes,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,home,father,1,2,0,no,yes,yes,no,yes,yes,no,no,4,3,2,1,2,5,4,6,10,10
5,GP,M,16,U,LE3,T,4,3,services,other,reputation,mother,1,2,0,no,yes,yes,yes,yes,yes,yes,no,5,4,2,1,2,5,10,15,15,15
6,GP,M,16,U,LE3,T,2,2,other,other,home,mother,1,2,0,no,no,no,no,yes,yes,yes,no,4,4,4,1,1,3,0,12,12,11
7,GP,F,17,U,GT3,A,4,4,other,teacher,home,mother,2,2,0,yes,yes,no,no,yes,yes,no,no,4,1,4,1,1,1,6,6,5,6
8,GP,M,15,U,LE3,A,3,2,services,other,home,mother,1,2,0,no,yes,yes,no,yes,yes,yes,no,4,2,2,1,1,1,0,16,18,19
9,GP,M,15,U,GT3,T,3,4,other,other,home,mother,1,2,0,no,yes,yes,yes,yes,yes,yes,no,5,5,1,1,1,5,0,14,15,15
10,GP,F,15,U,GT3,T,4,4,teacher,health,reputation,mother,1,2,0,no,yes,yes,no,yes,yes,yes,no,3,3,3,1,2,2,0,10,8,9
11,GP,F,15,U,GT3,T,2,1,services,other,reputation,father,3,3,0,no,yes,no,yes,yes,yes,yes,no,5,2,2,1,1,4,4,10,12,12
12,GP,M,15,U,LE3,T,4,4,health,services,course,father,1,1,0,no,yes,yes,yes,yes,yes,yes,no,4,3,3,1,3,5,2,14,14,14
13,GP,M,15,U,GT3,T,4,3,teacher,other,course,mother,2,2,0,no,yes,yes,no,yes,yes,yes,no,5,4,3,1,2,3,2,10,10,11
14,GP,M,15,U,GT3,A,2,2,other,other,home,other,1,3,0,no,yes,no,no,yes,yes,yes,yes,4,5,2,1,1,3,0,14,16,16
15,GP,F,16,U,GT3,T,4,4,health,other,home,mother,1,1,0,no,yes,no,no,yes,yes,yes,no,4,4,4,1,2,2,4,14,14,14
16,GP,F,16,U,GT3,T,4,4,services,services,reputation,mother,1,3,0,no,yes,yes,yes,yes,yes,yes,no,3,2,3,1,2,2,6,13,14,14
17,GP,F,16,U,GT3,T,3,3,other,other,reputation,mother,3,2,0,yes,yes,no,yes,yes,yes,no,no,5,3,2,1,1,4,4,8,10,10
18,GP,M,17,U,GT3,T,3,2,services,services,course,mother,1,1,3,no,yes,no,yes,yes,yes,yes,no,5,5,5,2,4,5,16,6,5,5
19,GP,M,16,U,LE3,T,4,3,health,other,home,father,1,1,0,no,no,yes,yes,yes,yes,yes,no,3,1,3,1,3,5,4,8,10,10
20,GP,M,15,U,GT3,T,4,3,teacher,other,reputation,mother,1,2,0,no,no,no,no,yes,yes,yes,no,4,4,1,1,1,1,0,13,14,15
21,GP,M,15,U,GT3,T,4,4,health,health,other,father,1,1,0,no,yes,yes,no,yes,yes,yes,no,5,4,2,1,1,5,0,12,15,15
22,GP,M,16,U,LE3,T,4,2,teacher,other,course,mother,1,2,0,no,no,no,yes,yes,yes,yes,no,4,5,1,1,3,5,2,15,15,16
23,GP,M,16,U,LE3,T,2,2,other,other,reputation,mother,2,2,0,no,yes,no,yes,yes,yes,yes,no,5,4,4,2,4,5,0,13,13,12
24,GP,F,15,R,GT3,T,2,4,services,health,course,mother,1,3,0,yes,yes,yes,yes,yes,yes,yes,no,4,3,2,1,1,5,2,10,9,8
25,GP,F,16,U,GT3,T,2,2,services,services,home,mother,1,1,2,no,yes,yes,no,no,yes,yes,no,1,2,2,1,3,5,14,6,9,8
26,GP,M,15,U,GT3,T,2,2,other,other,home,mother,1,1,0,no,yes,yes,no,yes,yes,yes,no,4,2,2,1,2,5,2,12,12,11
27,GP,M,15,U,GT3,T,4,2,health,services,other,mother,1,1,0,no,no,yes,no,yes,yes,yes,no,2,2,4,2,4,1,4,15,16,15
28,GP,M,16,U,LE3,A,3,4,services,other,home,mother,1,2,0,yes,yes,no,yes,yes,yes,yes,no,5,3,3,1,1,5,4,11,11,11
29,GP,M,16,U,GT3,T,4,4,teacher,teacher,home,mother,1,2,0,no,yes,yes,yes,yes,yes,yes,yes,4,4,5,5,5,5,16,10,12,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
365,MS,M,18,R,GT3,T,1,3,at_home,other,course,mother,2,2,0,no,yes,yes,no,yes,yes,no,no,3,3,4,2,4,3,4,10,10,10
366,MS,M,18,U,LE3,T,4,4,teacher,services,other,mother,2,3,0,no,no,yes,no,yes,yes,yes,yes,4,2,2,2,2,5,0,13,13,13
367,MS,F,17,R,GT3,T,1,1,other,services,reputation,mother,3,1,1,no,yes,yes,no,yes,yes,yes,yes,5,2,1,1,2,1,0,7,6,0
368,MS,F,18,U,GT3,T,2,3,at_home,services,course,father,2,1,0,no,yes,yes,no,yes,yes,yes,yes,5,2,3,1,2,4,0,11,10,10
369,MS,F,18,R,GT3,T,4,4,other,teacher,other,father,3,2,0,no,yes,yes,no,no,yes,yes,yes,3,2,2,4,2,5,10,14,12,11
370,MS,F,19,U,LE3,T,3,2,services,services,home,other,2,2,2,no,no,no,yes,yes,yes,no,yes,3,2,2,1,1,3,4,7,7,9
371,MS,M,18,R,LE3,T,1,2,at_home,services,other,father,3,1,0,no,yes,yes,yes,yes,no,yes,yes,4,3,3,2,3,3,3,14,12,12
372,MS,F,17,U,GT3,T,2,2,other,at_home,home,mother,1,3,0,no,no,no,yes,yes,yes,no,yes,3,4,3,1,1,3,8,13,11,11
373,MS,F,17,R,GT3,T,1,2,other,other,course,mother,1,1,0,no,no,no,yes,yes,yes,yes,no,3,5,5,1,3,1,14,6,5,5
374,MS,F,18,R,LE3,T,4,4,other,other,reputation,mother,2,3,0,no,no,no,no,yes,yes,yes,no,5,4,4,1,1,1,0,19,18,19
375,MS,F,18,R,GT3,T,1,1,other,other,home,mother,4,3,0,no,no,no,no,yes,yes,yes,no,4,3,2,1,2,4,2,8,8,10
376,MS,F,20,U,GT3,T,4,2,health,other,course,other,2,3,2,no,yes,yes,no,no,yes,yes,yes,5,4,3,1,1,3,4,15,14,15
377,MS,F,18,R,LE3,T,4,4,teacher,services,course,mother,1,2,0,no,no,yes,yes,yes,yes,yes,no,5,4,3,3,4,2,4,8,9,10
378,MS,F,18,U,GT3,T,3,3,other,other,home,mother,1,2,0,no,no,yes,no,yes,yes,yes,yes,4,1,3,1,2,1,0,15,15,15
379,MS,F,17,R,GT3,T,3,1,at_home,other,reputation,mother,1,2,0,no,yes,yes,yes,no,yes,yes,no,4,5,4,2,3,1,17,10,10,10
380,MS,M,18,U,GT3,T,4,4,teacher,teacher,home,father,1,2,0,no,no,yes,yes,no,yes,yes,no,3,2,4,1,4,2,4,15,14,14
381,MS,M,18,R,GT3,T,2,1,other,other,other,mother,2,1,0,no,no,no,yes,no,yes,yes,yes,4,4,3,1,3,5,5,7,6,7
382,MS,M,17,U,GT3,T,2,3,other,services,home,father,2,2,0,no,no,no,yes,yes,yes,yes,no,4,4,3,1,1,3,2,11,11,10
383,MS,M,19,R,GT3,T,1,1,other,services,other,mother,2,1,1,no,no,no,no,yes,yes,no,no,4,3,2,1,3,5,0,6,5,0
384,MS,M,18,R,GT3,T,4,2,other,other,home,father,2,1,1,no,no,yes,no,yes,yes,no,no,5,4,3,4,3,3,14,6,5,5
385,MS,F,18,R,GT3,T,2,2,at_home,other,other,mother,2,3,0,no,no,yes,no,yes,yes,no,no,5,3,3,1,3,4,2,10,9,10
386,MS,F,18,R,GT3,T,4,4,teacher,at_home,reputation,mother,3,1,0,no,yes,yes,yes,yes,yes,yes,yes,4,4,3,2,2,5,7,6,5,6
387,MS,F,19,R,GT3,T,2,3,services,other,course,mother,1,3,1,no,no,no,yes,no,yes,yes,no,5,4,2,1,2,5,0,7,5,0
388,MS,F,18,U,LE3,T,3,1,teacher,services,course,mother,1,2,0,no,yes,yes,no,yes,yes,yes,no,4,3,4,1,1,1,0,7,9,8
389,MS,F,18,U,GT3,T,1,1,other,other,course,mother,2,2,1,no,no,no,yes,yes,yes,no,no,1,1,1,1,1,5,0,6,5,0
390,MS,M,20,U,LE3,A,2,2,services,services,course,other,1,2,2,no,yes,yes,no,yes,yes,no,no,5,5,4,4,5,4,11,9,9,9
391,MS,M,17,U,LE3,T,3,1,services,services,course,mother,2,1,0,no,no,no,no,no,yes,yes,no,2,4,5,3,4,2,3,14,16,16
392,MS,M,21,R,GT3,T,1,1,other,other,course,other,1,1,3,no,no,no,no,no,yes,no,no,5,5,3,3,3,3,3,10,8,7
393,MS,M,18,R,LE3,T,3,2,services,other,course,mother,3,1,0,no,no,no,no,no,yes,yes,no,4,4,1,3,4,5,0,11,12,10
394,MS,M,19,U,LE3,T,1,1,other,at_home,course,father,1,1,0,no,no,no,no,yes,yes,yes,no,3,2,3,3,3,5,5,8,9,9

In [35]:
df_portuguese

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian,traveltime,studytime,failures,schoolsup,famsup,paid,activities,nursery,higher,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,course,mother,2,2,0,yes,no,no,no,yes,yes,no,no,4,3,4,1,1,3,4,0,11,11
1,GP,F,17,U,GT3,T,1,1,at_home,other,course,father,1,2,0,no,yes,no,no,no,yes,yes,no,5,3,3,1,1,3,2,9,11,11
2,GP,F,15,U,LE3,T,1,1,at_home,other,other,mother,1,2,0,yes,no,no,no,yes,yes,yes,no,4,3,2,2,3,3,6,12,13,12
3,GP,F,15,U,GT3,T,4,2,health,services,home,mother,1,3,0,no,yes,no,yes,yes,yes,yes,yes,3,2,2,1,1,5,0,14,14,14
4,GP,F,16,U,GT3,T,3,3,other,other,home,father,1,2,0,no,yes,no,no,yes,yes,no,no,4,3,2,1,2,5,0,11,13,13
5,GP,M,16,U,LE3,T,4,3,services,other,reputation,mother,1,2,0,no,yes,no,yes,yes,yes,yes,no,5,4,2,1,2,5,6,12,12,13
6,GP,M,16,U,LE3,T,2,2,other,other,home,mother,1,2,0,no,no,no,no,yes,yes,yes,no,4,4,4,1,1,3,0,13,12,13
7,GP,F,17,U,GT3,A,4,4,other,teacher,home,mother,2,2,0,yes,yes,no,no,yes,yes,no,no,4,1,4,1,1,1,2,10,13,13
8,GP,M,15,U,LE3,A,3,2,services,other,home,mother,1,2,0,no,yes,no,no,yes,yes,yes,no,4,2,2,1,1,1,0,15,16,17
9,GP,M,15,U,GT3,T,3,4,other,other,home,mother,1,2,0,no,yes,no,yes,yes,yes,yes,no,5,5,1,1,1,5,0,12,12,13
10,GP,F,15,U,GT3,T,4,4,teacher,health,reputation,mother,1,2,0,no,yes,no,no,yes,yes,yes,no,3,3,3,1,2,2,2,14,14,14
11,GP,F,15,U,GT3,T,2,1,services,other,reputation,father,3,3,0,no,yes,no,yes,yes,yes,yes,no,5,2,2,1,1,4,0,10,12,13
12,GP,M,15,U,LE3,T,4,4,health,services,course,father,1,1,0,no,yes,no,yes,yes,yes,yes,no,4,3,3,1,3,5,0,12,13,12
13,GP,M,15,U,GT3,T,4,3,teacher,other,course,mother,2,2,0,no,yes,no,no,yes,yes,yes,no,5,4,3,1,2,3,0,12,12,13
14,GP,M,15,U,GT3,A,2,2,other,other,home,other,1,3,0,no,yes,no,no,yes,yes,yes,yes,4,5,2,1,1,3,0,14,14,15
15,GP,F,16,U,GT3,T,4,4,health,other,home,mother,1,1,0,no,yes,no,no,yes,yes,yes,no,4,4,4,1,2,2,6,17,17,17
16,GP,F,16,U,GT3,T,4,4,services,services,reputation,mother,1,3,0,no,yes,no,yes,yes,yes,yes,no,3,2,3,1,2,2,10,13,13,14
17,GP,F,16,U,GT3,T,3,3,other,other,reputation,mother,3,2,0,yes,yes,no,yes,yes,yes,no,no,5,3,2,1,1,4,2,13,14,14
18,GP,M,17,U,GT3,T,3,2,services,services,course,mother,1,1,3,no,yes,yes,yes,yes,yes,yes,no,5,5,5,2,4,5,2,8,8,7
19,GP,M,16,U,LE3,T,4,3,health,other,home,father,1,1,0,no,no,no,yes,yes,yes,yes,no,3,1,3,1,3,5,6,12,12,12
20,GP,M,15,U,GT3,T,4,3,teacher,other,reputation,mother,1,2,0,no,no,no,no,yes,yes,yes,no,4,4,1,1,1,1,0,12,13,14
21,GP,M,15,U,GT3,T,4,4,health,health,other,father,1,1,0,no,yes,yes,no,yes,yes,yes,no,5,4,2,1,1,5,0,11,12,12
22,GP,M,16,U,LE3,T,4,2,teacher,other,course,mother,1,2,0,no,no,no,yes,yes,yes,yes,no,4,5,1,1,3,5,0,12,13,14
23,GP,M,16,U,LE3,T,2,2,other,other,reputation,mother,2,2,0,no,yes,no,yes,yes,yes,yes,no,5,4,4,2,4,5,2,10,10,10
24,GP,F,15,R,GT3,T,2,4,services,health,course,mother,1,3,0,yes,yes,no,yes,yes,yes,yes,no,4,3,2,1,1,5,2,10,11,10
25,GP,F,16,U,GT3,T,2,2,services,services,home,mother,1,1,0,no,yes,no,no,no,yes,yes,no,1,2,2,1,3,5,6,10,11,12
26,GP,M,15,U,GT3,T,2,2,other,other,home,mother,1,1,0,no,yes,no,no,yes,yes,yes,no,4,2,2,1,2,5,8,11,12,12
27,GP,M,15,U,GT3,T,4,2,health,services,other,mother,1,1,0,no,no,no,no,yes,yes,yes,no,2,2,4,2,4,1,0,11,11,11
28,GP,M,16,U,LE3,A,3,4,services,other,home,mother,1,2,0,yes,yes,yes,yes,yes,yes,yes,no,5,3,3,1,1,5,2,12,12,13
29,GP,M,16,U,GT3,T,4,4,teacher,teacher,home,mother,1,2,0,no,yes,yes,yes,yes,yes,yes,yes,4,4,5,5,5,5,4,12,11,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
619,MS,F,18,U,GT3,T,3,3,services,services,other,mother,2,2,0,no,yes,no,no,yes,yes,yes,yes,4,3,2,1,3,3,6,13,12,13
620,MS,F,17,U,LE3,T,4,4,at_home,at_home,course,mother,1,2,0,no,yes,no,yes,yes,yes,yes,yes,2,3,4,1,1,1,4,15,14,15
621,MS,F,17,R,GT3,T,1,2,other,services,course,father,2,2,0,no,no,no,no,no,yes,no,no,3,2,2,1,2,3,0,13,13,13
622,MS,M,18,R,GT3,T,1,3,at_home,other,course,mother,2,2,0,no,yes,yes,no,yes,yes,no,no,3,3,4,2,4,3,0,8,10,9
623,MS,M,18,U,LE3,T,4,4,teacher,services,other,mother,2,3,0,no,no,no,no,yes,yes,yes,yes,4,2,2,2,2,5,0,15,16,16
624,MS,F,17,R,GT3,T,1,1,other,services,reputation,mother,3,1,1,no,yes,no,no,yes,yes,yes,yes,5,2,1,1,2,1,0,8,8,9
625,MS,F,18,U,GT3,T,2,3,at_home,services,course,father,2,1,0,no,yes,no,no,yes,yes,yes,yes,5,2,3,1,2,4,0,10,10,10
626,MS,F,18,R,GT3,T,4,4,other,teacher,other,father,3,2,0,no,yes,no,no,no,yes,yes,yes,3,2,2,4,2,5,0,7,5,0
627,MS,M,18,R,LE3,T,1,2,at_home,services,other,father,3,1,0,no,yes,no,yes,yes,no,yes,yes,4,3,3,2,3,3,3,9,10,10
628,MS,F,17,U,GT3,T,2,2,other,at_home,home,mother,1,3,0,no,no,no,yes,yes,yes,no,yes,3,4,3,1,1,3,8,10,11,12
629,MS,F,17,R,GT3,T,1,2,other,other,course,mother,1,1,0,no,no,no,yes,yes,yes,yes,no,3,5,5,1,3,1,4,7,8,9
630,MS,F,18,R,LE3,T,4,4,other,other,reputation,mother,2,3,0,no,no,no,no,yes,yes,yes,no,5,4,4,1,1,1,0,15,17,17
631,MS,F,18,R,GT3,T,1,1,other,other,home,mother,4,3,0,no,no,no,no,yes,yes,yes,no,4,3,2,1,2,4,4,10,11,12
632,MS,F,19,R,GT3,T,1,1,at_home,other,course,other,2,2,1,no,yes,no,no,yes,yes,yes,yes,4,3,3,1,1,3,4,7,8,9
633,MS,F,18,R,LE3,T,4,4,teacher,services,course,mother,1,2,0,no,no,no,yes,yes,yes,yes,no,5,4,3,3,4,2,1,13,14,14
634,MS,F,18,U,GT3,T,3,3,other,other,home,mother,1,2,0,no,no,no,no,yes,yes,yes,yes,4,1,3,1,2,1,1,16,16,16
635,MS,F,17,R,GT3,T,3,1,at_home,other,reputation,mother,1,2,0,no,yes,no,yes,no,yes,yes,no,4,5,4,2,3,1,10,8,9,9
636,MS,M,18,U,GT3,T,4,4,teacher,teacher,home,father,1,2,0,no,no,no,yes,no,yes,yes,no,3,2,4,1,4,2,4,17,18,19
637,MS,M,18,R,GT3,T,2,1,other,other,other,mother,2,1,0,no,no,no,yes,no,yes,yes,yes,4,4,3,1,3,5,0,7,7,0
638,MS,M,17,U,GT3,T,2,3,other,services,home,father,2,2,0,no,no,no,yes,yes,yes,yes,no,4,4,3,1,1,3,4,14,15,16
639,MS,M,19,R,GT3,T,1,1,other,services,other,mother,2,1,1,no,no,no,no,yes,yes,no,no,4,3,2,1,3,5,0,5,8,0
640,MS,M,18,R,GT3,T,4,2,other,other,home,father,2,1,1,no,no,yes,no,yes,yes,no,no,5,4,3,4,3,3,0,7,7,0
641,MS,F,18,R,GT3,T,2,2,at_home,other,other,mother,2,3,0,no,no,no,no,yes,yes,no,no,5,3,3,1,3,4,0,14,17,15
642,MS,F,17,U,GT3,T,4,3,teacher,other,other,mother,2,2,0,no,no,no,no,yes,yes,yes,no,5,5,4,1,1,1,0,6,9,11
643,MS,F,18,R,GT3,T,4,4,teacher,at_home,reputation,mother,3,1,0,no,yes,no,yes,yes,yes,yes,yes,4,4,3,2,2,5,4,7,9,10
644,MS,F,19,R,GT3,T,2,3,services,other,course,mother,1,3,1,no,no,no,yes,no,yes,yes,no,5,4,2,1,2,5,4,10,11,10
645,MS,F,18,U,LE3,T,3,1,teacher,services,course,mother,1,2,0,no,yes,no,no,yes,yes,yes,no,4,3,4,1,1,1,4,15,15,16
646,MS,F,18,U,GT3,T,1,1,other,other,course,mother,2,2,0,no,no,no,yes,yes,yes,no,no,1,1,1,1,1,5,6,11,12,9
647,MS,M,17,U,LE3,T,3,1,services,services,course,mother,2,1,0,no,no,no,no,no,yes,yes,no,2,4,5,3,4,2,6,10,10,10
648,MS,M,18,R,LE3,T,3,2,services,other,course,mother,3,1,0,no,no,no,no,no,yes,yes,no,4,4,1,3,4,5,4,10,11,11

In [36]:
df_math.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 395 entries, 0 to 394
Data columns (total 33 columns):
school        395 non-null object
sex           395 non-null object
age           395 non-null int64
address       395 non-null object
famsize       395 non-null object
Pstatus       395 non-null object
Medu          395 non-null int64
Fedu          395 non-null int64
Mjob          395 non-null object
Fjob          395 non-null object
reason        395 non-null object
guardian      395 non-null object
traveltime    395 non-null int64
studytime     395 non-null int64
failures      395 non-null int64
schoolsup     395 non-null object
famsup        395 non-null object
paid          395 non-null object
activities    395 non-null object
nursery       395 non-null object
higher        395 non-null object
internet      395 non-null object
romantic      395 non-null object
famrel        395 non-null int64
freetime      395 non-null int64
goout         395 non-null int64
Dalc          395 non-null int64
Walc          395 non-null int64
health        395 non-null int64
absences      395 non-null int64
G1            395 non-null int64
G2            395 non-null int64
G3            395 non-null int64
dtypes: int64(16), object(17)
memory usage: 101.9+ KB

## Issues

### Tidiness

The tables should not be separated by the subjects.

### Quality

- Erronous data types
- Non descriptive column headers
- lowercase and non camel case column headers

# Clean

In [69]:
## Copy the tables
df_portuguese_clean = df_portuguese.copy()
df_math_clean = df_math.copy()

## Issue 1

### Define

Ought to add a course column with the course name.

### Code

In [70]:
# create course column with thecorrect values
column_name = "Course"
df_portuguese_clean[column_name] = "portuguese"
df_math_clean[column_name] = "math"

### Test

In [72]:
df_portuguese_clean.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian,traveltime,studytime,failures,schoolsup,famsup,paid,activities,nursery,higher,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3,Course
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,course,mother,2,2,0,yes,no,no,no,yes,yes,no,no,4,3,4,1,1,3,4,0,11,11,portuguese
1,GP,F,17,U,GT3,T,1,1,at_home,other,course,father,1,2,0,no,yes,no,no,no,yes,yes,no,5,3,3,1,1,3,2,9,11,11,portuguese
2,GP,F,15,U,LE3,T,1,1,at_home,other,other,mother,1,2,0,yes,no,no,no,yes,yes,yes,no,4,3,2,2,3,3,6,12,13,12,portuguese
3,GP,F,15,U,GT3,T,4,2,health,services,home,mother,1,3,0,no,yes,no,yes,yes,yes,yes,yes,3,2,2,1,1,5,0,14,14,14,portuguese
4,GP,F,16,U,GT3,T,3,3,other,other,home,father,1,2,0,no,yes,no,no,yes,yes,no,no,4,3,2,1,2,5,0,11,13,13,portuguese

In [74]:
df_math_clean.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian,traveltime,studytime,failures,schoolsup,famsup,paid,activities,nursery,higher,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3,Course
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,course,mother,2,2,0,yes,no,no,no,yes,yes,no,no,4,3,4,1,1,3,6,5,6,6,math
1,GP,F,17,U,GT3,T,1,1,at_home,other,course,father,1,2,0,no,yes,no,no,no,yes,yes,no,5,3,3,1,1,3,4,5,5,6,math
2,GP,F,15,U,LE3,T,1,1,at_home,other,other,mother,1,2,3,yes,no,yes,no,yes,yes,yes,no,4,3,2,2,3,3,10,7,8,10,math
3,GP,F,15,U,GT3,T,4,2,health,services,home,mother,1,3,0,no,yes,yes,yes,yes,yes,yes,yes,3,2,2,1,1,5,2,15,14,15,math
4,GP,F,16,U,GT3,T,3,3,other,other,home,father,1,2,0,no,yes,yes,no,yes,yes,no,no,4,3,2,1,2,5,4,6,10,10,math

## Issue 2

### Define

Merge the two tables into one

### Clean

In [75]:
df_clean = df_math_clean.append(df_portuguese_clean, ignore_index = True)

### Test

In [76]:
df_clean

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian,traveltime,studytime,failures,schoolsup,famsup,paid,activities,nursery,higher,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3,Course
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,course,mother,2,2,0,yes,no,no,no,yes,yes,no,no,4,3,4,1,1,3,6,5,6,6,math
1,GP,F,17,U,GT3,T,1,1,at_home,other,course,father,1,2,0,no,yes,no,no,no,yes,yes,no,5,3,3,1,1,3,4,5,5,6,math
2,GP,F,15,U,LE3,T,1,1,at_home,other,other,mother,1,2,3,yes,no,yes,no,yes,yes,yes,no,4,3,2,2,3,3,10,7,8,10,math
3,GP,F,15,U,GT3,T,4,2,health,services,home,mother,1,3,0,no,yes,yes,yes,yes,yes,yes,yes,3,2,2,1,1,5,2,15,14,15,math
4,GP,F,16,U,GT3,T,3,3,other,other,home,father,1,2,0,no,yes,yes,no,yes,yes,no,no,4,3,2,1,2,5,4,6,10,10,math
5,GP,M,16,U,LE3,T,4,3,services,other,reputation,mother,1,2,0,no,yes,yes,yes,yes,yes,yes,no,5,4,2,1,2,5,10,15,15,15,math
6,GP,M,16,U,LE3,T,2,2,other,other,home,mother,1,2,0,no,no,no,no,yes,yes,yes,no,4,4,4,1,1,3,0,12,12,11,math
7,GP,F,17,U,GT3,A,4,4,other,teacher,home,mother,2,2,0,yes,yes,no,no,yes,yes,no,no,4,1,4,1,1,1,6,6,5,6,math
8,GP,M,15,U,LE3,A,3,2,services,other,home,mother,1,2,0,no,yes,yes,no,yes,yes,yes,no,4,2,2,1,1,1,0,16,18,19,math
9,GP,M,15,U,GT3,T,3,4,other,other,home,mother,1,2,0,no,yes,yes,yes,yes,yes,yes,no,5,5,1,1,1,5,0,14,15,15,math
10,GP,F,15,U,GT3,T,4,4,teacher,health,reputation,mother,1,2,0,no,yes,yes,no,yes,yes,yes,no,3,3,3,1,2,2,0,10,8,9,math
11,GP,F,15,U,GT3,T,2,1,services,other,reputation,father,3,3,0,no,yes,no,yes,yes,yes,yes,no,5,2,2,1,1,4,4,10,12,12,math
12,GP,M,15,U,LE3,T,4,4,health,services,course,father,1,1,0,no,yes,yes,yes,yes,yes,yes,no,4,3,3,1,3,5,2,14,14,14,math
13,GP,M,15,U,GT3,T,4,3,teacher,other,course,mother,2,2,0,no,yes,yes,no,yes,yes,yes,no,5,4,3,1,2,3,2,10,10,11,math
14,GP,M,15,U,GT3,A,2,2,other,other,home,other,1,3,0,no,yes,no,no,yes,yes,yes,yes,4,5,2,1,1,3,0,14,16,16,math
15,GP,F,16,U,GT3,T,4,4,health,other,home,mother,1,1,0,no,yes,no,no,yes,yes,yes,no,4,4,4,1,2,2,4,14,14,14,math
16,GP,F,16,U,GT3,T,4,4,services,services,reputation,mother,1,3,0,no,yes,yes,yes,yes,yes,yes,no,3,2,3,1,2,2,6,13,14,14,math
17,GP,F,16,U,GT3,T,3,3,other,other,reputation,mother,3,2,0,yes,yes,no,yes,yes,yes,no,no,5,3,2,1,1,4,4,8,10,10,math
18,GP,M,17,U,GT3,T,3,2,services,services,course,mother,1,1,3,no,yes,no,yes,yes,yes,yes,no,5,5,5,2,4,5,16,6,5,5,math
19,GP,M,16,U,LE3,T,4,3,health,other,home,father,1,1,0,no,no,yes,yes,yes,yes,yes,no,3,1,3,1,3,5,4,8,10,10,math
20,GP,M,15,U,GT3,T,4,3,teacher,other,reputation,mother,1,2,0,no,no,no,no,yes,yes,yes,no,4,4,1,1,1,1,0,13,14,15,math
21,GP,M,15,U,GT3,T,4,4,health,health,other,father,1,1,0,no,yes,yes,no,yes,yes,yes,no,5,4,2,1,1,5,0,12,15,15,math
22,GP,M,16,U,LE3,T,4,2,teacher,other,course,mother,1,2,0,no,no,no,yes,yes,yes,yes,no,4,5,1,1,3,5,2,15,15,16,math
23,GP,M,16,U,LE3,T,2,2,other,other,reputation,mother,2,2,0,no,yes,no,yes,yes,yes,yes,no,5,4,4,2,4,5,0,13,13,12,math
24,GP,F,15,R,GT3,T,2,4,services,health,course,mother,1,3,0,yes,yes,yes,yes,yes,yes,yes,no,4,3,2,1,1,5,2,10,9,8,math
25,GP,F,16,U,GT3,T,2,2,services,services,home,mother,1,1,2,no,yes,yes,no,no,yes,yes,no,1,2,2,1,3,5,14,6,9,8,math
26,GP,M,15,U,GT3,T,2,2,other,other,home,mother,1,1,0,no,yes,yes,no,yes,yes,yes,no,4,2,2,1,2,5,2,12,12,11,math
27,GP,M,15,U,GT3,T,4,2,health,services,other,mother,1,1,0,no,no,yes,no,yes,yes,yes,no,2,2,4,2,4,1,4,15,16,15,math
28,GP,M,16,U,LE3,A,3,4,services,other,home,mother,1,2,0,yes,yes,no,yes,yes,yes,yes,no,5,3,3,1,1,5,4,11,11,11,math
29,GP,M,16,U,GT3,T,4,4,teacher,teacher,home,mother,1,2,0,no,yes,yes,yes,yes,yes,yes,yes,4,4,5,5,5,5,16,10,12,11,math
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1014,MS,F,18,U,GT3,T,3,3,services,services,other,mother,2,2,0,no,yes,no,no,yes,yes,yes,yes,4,3,2,1,3,3,6,13,12,13,portuguese
1015,MS,F,17,U,LE3,T,4,4,at_home,at_home,course,mother,1,2,0,no,yes,no,yes,yes,yes,yes,yes,2,3,4,1,1,1,4,15,14,15,portuguese
1016,MS,F,17,R,GT3,T,1,2,other,services,course,father,2,2,0,no,no,no,no,no,yes,no,no,3,2,2,1,2,3,0,13,13,13,portuguese
1017,MS,M,18,R,GT3,T,1,3,at_home,other,course,mother,2,2,0,no,yes,yes,no,yes,yes,no,no,3,3,4,2,4,3,0,8,10,9,portuguese
1018,MS,M,18,U,LE3,T,4,4,teacher,services,other,mother,2,3,0,no,no,no,no,yes,yes,yes,yes,4,2,2,2,2,5,0,15,16,16,portuguese
1019,MS,F,17,R,GT3,T,1,1,other,services,reputation,mother,3,1,1,no,yes,no,no,yes,yes,yes,yes,5,2,1,1,2,1,0,8,8,9,portuguese
1020,MS,F,18,U,GT3,T,2,3,at_home,services,course,father,2,1,0,no,yes,no,no,yes,yes,yes,yes,5,2,3,1,2,4,0,10,10,10,portuguese
1021,MS,F,18,R,GT3,T,4,4,other,teacher,other,father,3,2,0,no,yes,no,no,no,yes,yes,yes,3,2,2,4,2,5,0,7,5,0,portuguese
1022,MS,M,18,R,LE3,T,1,2,at_home,services,other,father,3,1,0,no,yes,no,yes,yes,no,yes,yes,4,3,3,2,3,3,3,9,10,10,portuguese
1023,MS,F,17,U,GT3,T,2,2,other,at_home,home,mother,1,3,0,no,no,no,yes,yes,yes,no,yes,3,4,3,1,1,3,8,10,11,12,portuguese
1024,MS,F,17,R,GT3,T,1,2,other,other,course,mother,1,1,0,no,no,no,yes,yes,yes,yes,no,3,5,5,1,3,1,4,7,8,9,portuguese
1025,MS,F,18,R,LE3,T,4,4,other,other,reputation,mother,2,3,0,no,no,no,no,yes,yes,yes,no,5,4,4,1,1,1,0,15,17,17,portuguese
1026,MS,F,18,R,GT3,T,1,1,other,other,home,mother,4,3,0,no,no,no,no,yes,yes,yes,no,4,3,2,1,2,4,4,10,11,12,portuguese
1027,MS,F,19,R,GT3,T,1,1,at_home,other,course,other,2,2,1,no,yes,no,no,yes,yes,yes,yes,4,3,3,1,1,3,4,7,8,9,portuguese
1028,MS,F,18,R,LE3,T,4,4,teacher,services,course,mother,1,2,0,no,no,no,yes,yes,yes,yes,no,5,4,3,3,4,2,1,13,14,14,portuguese
1029,MS,F,18,U,GT3,T,3,3,other,other,home,mother,1,2,0,no,no,no,no,yes,yes,yes,yes,4,1,3,1,2,1,1,16,16,16,portuguese
1030,MS,F,17,R,GT3,T,3,1,at_home,other,reputation,mother,1,2,0,no,yes,no,yes,no,yes,yes,no,4,5,4,2,3,1,10,8,9,9,portuguese
1031,MS,M,18,U,GT3,T,4,4,teacher,teacher,home,father,1,2,0,no,no,no,yes,no,yes,yes,no,3,2,4,1,4,2,4,17,18,19,portuguese
1032,MS,M,18,R,GT3,T,2,1,other,other,other,mother,2,1,0,no,no,no,yes,no,yes,yes,yes,4,4,3,1,3,5,0,7,7,0,portuguese
1033,MS,M,17,U,GT3,T,2,3,other,services,home,father,2,2,0,no,no,no,yes,yes,yes,yes,no,4,4,3,1,1,3,4,14,15,16,portuguese
1034,MS,M,19,R,GT3,T,1,1,other,services,other,mother,2,1,1,no,no,no,no,yes,yes,no,no,4,3,2,1,3,5,0,5,8,0,portuguese
1035,MS,M,18,R,GT3,T,4,2,other,other,home,father,2,1,1,no,no,yes,no,yes,yes,no,no,5,4,3,4,3,3,0,7,7,0,portuguese
1036,MS,F,18,R,GT3,T,2,2,at_home,other,other,mother,2,3,0,no,no,no,no,yes,yes,no,no,5,3,3,1,3,4,0,14,17,15,portuguese
1037,MS,F,17,U,GT3,T,4,3,teacher,other,other,mother,2,2,0,no,no,no,no,yes,yes,yes,no,5,5,4,1,1,1,0,6,9,11,portuguese
1038,MS,F,18,R,GT3,T,4,4,teacher,at_home,reputation,mother,3,1,0,no,yes,no,yes,yes,yes,yes,yes,4,4,3,2,2,5,4,7,9,10,portuguese
1039,MS,F,19,R,GT3,T,2,3,services,other,course,mother,1,3,1,no,no,no,yes,no,yes,yes,no,5,4,2,1,2,5,4,10,11,10,portuguese
1040,MS,F,18,U,LE3,T,3,1,teacher,services,course,mother,1,2,0,no,yes,no,no,yes,yes,yes,no,4,3,4,1,1,1,4,15,15,16,portuguese
1041,MS,F,18,U,GT3,T,1,1,other,other,course,mother,2,2,0,no,no,no,yes,yes,yes,no,no,1,1,1,1,1,5,6,11,12,9,portuguese
1042,MS,M,17,U,LE3,T,3,1,services,services,course,mother,2,1,0,no,no,no,no,no,yes,yes,no,2,4,5,3,4,2,6,10,10,10,portuguese
1043,MS,M,18,R,LE3,T,3,2,services,other,course,mother,3,1,0,no,no,no,no,no,yes,yes,no,4,4,1,3,4,5,4,10,11,11,portuguese

## Issue 3

### Define

Change non descriptive column headers into descriptive ones
- Pstatus
- Medu
- Fedu
- Mjob
- Fjob
- reason
- schoolsup
- famsup
- paid
- activities
- nursery
- higher
- internet
- romantic
- famrel
- goout
- Dalc
- Walc
- famsize
- G1
- G2
- G3

### Clean

In [77]:
df_clean.rename(columns =
               {
                   "Pstatus" : "ParentsCohabitationStatus",
                   "Medu" : "MothersEducation",
                   "Fedu" : "FathersEducation",
                   "Mjob" : "MothersJob",
                   "Fjob" : "FathersJob",
                   "reason" : "ReasonToChooseThisSchool",
                   "schoolsup" : "SchoolEducationalSupport",
                   "famsup" : "FamilyEducationalSupport",
                   "paid" : "ExtraPaidClassesInCourse",
                   "activities" : "ExtraCurricularActivities",
                   "nursery" : "AttendedNurserySchool",
                   "higher" : "WantsHigherEducation",
                   "internet" : "HomeInternetAccess",
                   "romantic" : "InRomanticRelationship",
                   "famrel" : "FamilyRelationshipsQuality",
                   "goout" : "GoOutWithFriends",
                   "Dalc" : "WorkdayAlcoholConsumption",
                   "Walc" : "WeekendAlcoholConsumption",
                   "Fedu" : "ParentsCohabitationStatus",
                   "famsize" : "FamilySize",
                   "G1" : "FirstPeriodGrade",
                   "G2" : "SecondPeriodGrade",
                   "G3" : "ThirdPeriodGrade",
               }, inplace = True)

### Test

In [78]:
df_clean.head()

,school,sex,age,address,FamilySize,ParentsCohabitationStatus,MothersEducation,ParentsCohabitationStatus,MothersJob,FathersJob,ReasonToChooseThisSchool,guardian,traveltime,studytime,failures,SchoolEducationalSupport,FamilyEducationalSupport,ExtraPaidClassesInCourse,ExtraCurricularActivities,AttendedNurserySchool,WantsHigherEducation,HomeInternetAccess,InRomanticRelationship,FamilyRelationshipsQuality,freetime,GoOutWithFriends,WorkdayAlcoholConsumption,WeekendAlcoholCOnsumption,health,absences,FirstPeriodGrade,SecondPeriodGrade,ThirdPeriodGrade,Course
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,course,mother,2,2,0,yes,no,no,no,yes,yes,no,no,4,3,4,1,1,3,6,5,6,6,math
1,GP,F,17,U,GT3,T,1,1,at_home,other,course,father,1,2,0,no,yes,no,no,no,yes,yes,no,5,3,3,1,1,3,4,5,5,6,math
2,GP,F,15,U,LE3,T,1,1,at_home,other,other,mother,1,2,3,yes,no,yes,no,yes,yes,yes,no,4,3,2,2,3,3,10,7,8,10,math
3,GP,F,15,U,GT3,T,4,2,health,services,home,mother,1,3,0,no,yes,yes,yes,yes,yes,yes,yes,3,2,2,1,1,5,2,15,14,15,math
4,GP,F,16,U,GT3,T,3,3,other,other,home,father,1,2,0,no,yes,yes,no,yes,yes,no,no,4,3,2,1,2,5,4,6,10,10,math

In [79]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1044 entries, 0 to 1043
Data columns (total 34 columns):
school                        1044 non-null object
sex                           1044 non-null object
age                           1044 non-null int64
address                       1044 non-null object
FamilySize                    1044 non-null object
ParentsCohabitationStatus     1044 non-null object
MothersEducation              1044 non-null int64
ParentsCohabitationStatus     1044 non-null int64
MothersJob                    1044 non-null object
FathersJob                    1044 non-null object
ReasonToChooseThisSchool      1044 non-null object
guardian                      1044 non-null object
traveltime                    1044 non-null int64
studytime                     1044 non-null int64
failures                      1044 non-null int64
SchoolEducationalSupport      1044 non-null object
FamilyEducationalSupport      1044 non-null object
ExtraPaidClassesInCourse      1044 non-null object
ExtraCurricularActivities     1044 non-null object
AttendedNurserySchool         1044 non-null object
WantsHigherEducation          1044 non-null object
HomeInternetAccess            1044 non-null object
InRomanticRelationship        1044 non-null object
FamilyRelationshipsQuality    1044 non-null int64
freetime                      1044 non-null int64
GoOutWithFriends              1044 non-null int64
WorkdayAlcoholConsumption     1044 non-null int64
WeekendAlcoholCOnsumption     1044 non-null int64
health                        1044 non-null int64
absences                      1044 non-null int64
FirstPeriodGrade              1044 non-null int64
SecondPeriodGrade             1044 non-null int64
ThirdPeriodGrade              1044 non-null int64
Course                        1044 non-null object
dtypes: int64(16), object(18)
memory usage: 277.4+ KB

## Issue 4

### Define

Change lowercase and non camelcase column names into the right, camelcase format.
- school
- sex
- age
...
- et cetera...

### Code

In [80]:
df_clean.rename(columns =
               {
                   "school" : "School",
                   "sex" : "Sex",
                   "age" : "Age",
                   "address" : "Address",
                   "guardian" : "Guardian",
                   "traveltime" : "TravelTime",
                   "studytime" : "StudyTime",
                   "failures" : "Failures",
                   "freetime" : "FreeTime",
                   "health" : "Health",
                   "absences" : "Absences"                   
               }, inplace = True)

### Test

In [81]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1044 entries, 0 to 1043
Data columns (total 34 columns):
School                        1044 non-null object
Sex                           1044 non-null object
Age                           1044 non-null int64
Address                       1044 non-null object
FamilySize                    1044 non-null object
ParentsCohabitationStatus     1044 non-null object
MothersEducation              1044 non-null int64
ParentsCohabitationStatus     1044 non-null int64
MothersJob                    1044 non-null object
FathersJob                    1044 non-null object
ReasonToChooseThisSchool      1044 non-null object
Guardian                      1044 non-null object
TravelTime                    1044 non-null int64
StudyTime                     1044 non-null int64
Failures                      1044 non-null int64
SchoolEducationalSupport      1044 non-null object
FamilyEducationalSupport      1044 non-null object
ExtraPaidClassesInCourse      1044 non-null object
ExtraCurricularActivities     1044 non-null object
AttendedNurserySchool         1044 non-null object
WantsHigherEducation          1044 non-null object
HomeInternetAccess            1044 non-null object
InRomanticRelationship        1044 non-null object
FamilyRelationshipsQuality    1044 non-null int64
FreeTime                      1044 non-null int64
GoOutWithFriends              1044 non-null int64
WorkdayAlcoholConsumption     1044 non-null int64
WeekendAlcoholCOnsumption     1044 non-null int64
Health                        1044 non-null int64
Absences                      1044 non-null int64
FirstPeriodGrade              1044 non-null int64
SecondPeriodGrade             1044 non-null int64
ThirdPeriodGrade              1044 non-null int64
Course                        1044 non-null object
dtypes: int64(16), object(18)
memory usage: 277.4+ KB

## Issue 5

### Define

Fix the erronous data types:
- SchoolEducationalSupport
- FamilyEducationalSupport      
- ExtraPaidClassesInCourse 
- ExtraCurricularActivities
- AttendedNurserySchool
- WantsHigherEducation
- HomeInternetAccess
- InRomanticRelationship

### Code

In [82]:
# create string to boolean converter
def StringToBoolean(_str):
    return _str == "yes"

In [83]:
# Fix boolean types
df_clean["SchoolEducationalSupport"] = df_clean["SchoolEducationalSupport"].apply(lambda x: bool(util.strtobool(x)))
df_clean["FamilyEducationalSupport"] = df_clean["FamilyEducationalSupport"].apply(lambda x: bool(util.strtobool(x)))
df_clean["ExtraPaidClassesInCourse"] = df_clean["ExtraPaidClassesInCourse"].apply(lambda x: bool(util.strtobool(x)))
df_clean["ExtraCurricularActivities"] = df_clean["ExtraCurricularActivities"].apply(lambda x: bool(util.strtobool(x)))
df_clean["AttendedNurserySchool"] = df_clean["AttendedNurserySchool"].apply(lambda x: bool(util.strtobool(x)))
df_clean["WantsHigherEducation"] = df_clean["WantsHigherEducation"].apply(lambda x: bool(util.strtobool(x)))
df_clean["HomeInternetAccess"] = df_clean["HomeInternetAccess"].apply(lambda x: bool(util.strtobool(x)))
df_clean["InRomanticRelationship"] = df_clean["InRomanticRelationship"].apply(lambda x: bool(util.strtobool(x)))

### Test

In [84]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1044 entries, 0 to 1043
Data columns (total 34 columns):
School                        1044 non-null object
Sex                           1044 non-null object
Age                           1044 non-null int64
Address                       1044 non-null object
FamilySize                    1044 non-null object
ParentsCohabitationStatus     1044 non-null object
MothersEducation              1044 non-null int64
ParentsCohabitationStatus     1044 non-null int64
MothersJob                    1044 non-null object
FathersJob                    1044 non-null object
ReasonToChooseThisSchool      1044 non-null object
Guardian                      1044 non-null object
TravelTime                    1044 non-null int64
StudyTime                     1044 non-null int64
Failures                      1044 non-null int64
SchoolEducationalSupport      1044 non-null bool
FamilyEducationalSupport      1044 non-null bool
ExtraPaidClassesInCourse      1044 non-null bool
ExtraCurricularActivities     1044 non-null bool
AttendedNurserySchool         1044 non-null bool
WantsHigherEducation          1044 non-null bool
HomeInternetAccess            1044 non-null bool
InRomanticRelationship        1044 non-null bool
FamilyRelationshipsQuality    1044 non-null int64
FreeTime                      1044 non-null int64
GoOutWithFriends              1044 non-null int64
WorkdayAlcoholConsumption     1044 non-null int64
WeekendAlcoholCOnsumption     1044 non-null int64
Health                        1044 non-null int64
Absences                      1044 non-null int64
FirstPeriodGrade              1044 non-null int64
SecondPeriodGrade             1044 non-null int64
ThirdPeriodGrade              1044 non-null int64
Course                        1044 non-null object
dtypes: bool(8), int64(16), object(10)
memory usage: 220.3+ KB

# Assess 2

In [85]:
df_clean.sample(25)

,School,Sex,Age,Address,FamilySize,ParentsCohabitationStatus,MothersEducation,ParentsCohabitationStatus,MothersJob,FathersJob,ReasonToChooseThisSchool,Guardian,TravelTime,StudyTime,Failures,SchoolEducationalSupport,FamilyEducationalSupport,ExtraPaidClassesInCourse,ExtraCurricularActivities,AttendedNurserySchool,WantsHigherEducation,HomeInternetAccess,InRomanticRelationship,FamilyRelationshipsQuality,FreeTime,GoOutWithFriends,WorkdayAlcoholConsumption,WeekendAlcoholCOnsumption,Health,Absences,FirstPeriodGrade,SecondPeriodGrade,ThirdPeriodGrade,Course
655,GP,F,16,U,GT3,T,1,2,other,other,course,mother,1,1,0,False,False,False,False,True,False,True,False,5,3,5,1,2,5,4,12,11,11,portuguese
284,GP,F,17,U,GT3,T,2,2,other,other,course,mother,1,2,0,False,True,False,False,False,True,True,False,5,4,5,1,2,5,4,10,9,11,math
809,GP,F,20,R,GT3,T,1,1,other,other,reputation,other,2,3,0,False,False,False,False,True,True,True,True,3,2,2,1,3,3,8,11,15,15,portuguese
904,MS,F,16,R,LE3,T,1,1,at_home,other,course,father,3,2,0,False,True,False,False,True,True,False,False,5,3,2,1,1,1,0,16,17,18,portuguese
801,GP,F,17,U,GT3,T,3,1,other,at_home,home,mother,1,1,1,False,True,True,False,True,True,True,True,4,1,2,1,1,3,6,10,13,13,portuguese
321,GP,F,17,U,GT3,T,2,2,other,other,course,mother,1,2,0,False,True,False,False,True,True,False,True,4,2,2,1,1,3,12,11,9,9,math
869,MS,M,15,R,LE3,T,1,3,at_home,other,reputation,father,3,1,0,False,True,False,True,True,True,True,False,4,2,4,3,5,3,2,10,11,11,portuguese
882,MS,F,18,R,LE3,A,3,2,other,other,course,other,2,3,2,False,True,False,False,False,False,False,True,3,3,2,1,1,2,6,7,9,10,portuguese
315,GP,F,19,R,GT3,T,2,3,other,other,reputation,other,1,3,1,False,False,False,False,True,True,True,True,4,1,2,1,1,3,40,13,11,11,math
205,GP,F,17,U,GT3,T,3,4,at_home,services,home,mother,1,3,1,False,True,True,False,True,True,True,True,4,4,3,3,4,5,28,10,9,9,math
216,GP,F,17,U,GT3,T,4,3,other,other,reputation,mother,1,2,2,False,False,True,False,True,True,True,True,3,4,5,2,4,1,22,6,6,4,math
833,MS,F,17,R,GT3,T,2,3,other,other,course,mother,2,1,0,False,True,False,False,True,True,True,False,5,5,5,1,3,3,2,10,11,12,portuguese
509,GP,M,15,R,GT3,T,2,1,health,services,reputation,mother,1,2,0,False,False,False,True,True,True,True,True,5,4,2,1,1,5,4,10,9,10,portuguese
1018,MS,M,18,U,LE3,T,4,4,teacher,services,other,mother,2,3,0,False,False,False,False,True,True,True,True,4,2,2,2,2,5,0,15,16,16,portuguese
222,GP,F,16,U,GT3,T,2,3,services,teacher,other,mother,1,2,0,True,False,False,False,True,True,True,False,2,3,1,1,1,3,2,16,16,17,math
337,GP,F,17,U,GT3,T,3,2,other,other,home,mother,1,2,0,False,True,True,False,True,True,True,True,4,3,2,2,3,2,0,7,8,0,math
557,GP,M,15,U,LE3,A,2,1,services,other,course,mother,4,1,0,False,False,False,False,True,True,True,False,4,5,5,2,5,5,0,12,11,11,portuguese
935,MS,F,17,U,GT3,T,3,2,at_home,other,home,mother,2,1,0,False,False,False,False,True,True,False,True,4,3,3,2,2,1,5,9,11,11,portuguese
695,GP,F,18,U,GT3,T,4,3,services,other,home,father,1,2,0,False,True,False,False,True,True,True,True,3,1,2,1,3,2,2,15,15,15,portuguese
148,GP,M,16,U,GT3,T,4,4,teacher,teacher,course,mother,1,1,0,False,True,False,False,True,False,True,True,3,3,2,2,1,5,0,7,6,0,math
151,GP,M,16,U,LE3,T,2,1,at_home,other,course,mother,1,1,1,False,False,False,True,True,True,False,True,4,4,4,3,5,5,6,12,13,14,math
762,GP,F,17,U,LE3,T,2,1,other,other,home,father,1,2,0,False,False,False,True,True,True,True,False,4,2,3,2,2,2,2,11,12,14,portuguese
444,GP,F,15,U,GT3,T,4,4,services,teacher,other,father,1,2,0,True,True,False,True,False,True,True,False,4,4,4,1,1,3,2,13,12,12,portuguese
1010,MS,F,17,U,LE3,A,3,2,services,other,reputation,mother,2,2,0,False,False,False,False,True,True,False,True,1,2,3,1,2,5,0,15,14,15,portuguese
343,GP,F,17,U,GT3,A,2,2,at_home,at_home,home,father,1,2,1,False,True,False,False,True,True,True,True,3,3,1,1,2,4,0,9,8,0,math

In [86]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1044 entries, 0 to 1043
Data columns (total 34 columns):
School                        1044 non-null object
Sex                           1044 non-null object
Age                           1044 non-null int64
Address                       1044 non-null object
FamilySize                    1044 non-null object
ParentsCohabitationStatus     1044 non-null object
MothersEducation              1044 non-null int64
ParentsCohabitationStatus     1044 non-null int64
MothersJob                    1044 non-null object
FathersJob                    1044 non-null object
ReasonToChooseThisSchool      1044 non-null object
Guardian                      1044 non-null object
TravelTime                    1044 non-null int64
StudyTime                     1044 non-null int64
Failures                      1044 non-null int64
SchoolEducationalSupport      1044 non-null bool
FamilyEducationalSupport      1044 non-null bool
ExtraPaidClassesInCourse      1044 non-null bool
ExtraCurricularActivities     1044 non-null bool
AttendedNurserySchool         1044 non-null bool
WantsHigherEducation          1044 non-null bool
HomeInternetAccess            1044 non-null bool
InRomanticRelationship        1044 non-null bool
FamilyRelationshipsQuality    1044 non-null int64
FreeTime                      1044 non-null int64
GoOutWithFriends              1044 non-null int64
WorkdayAlcoholConsumption     1044 non-null int64
WeekendAlcoholCOnsumption     1044 non-null int64
Health                        1044 non-null int64
Absences                      1044 non-null int64
FirstPeriodGrade              1044 non-null int64
SecondPeriodGrade             1044 non-null int64
ThirdPeriodGrade              1044 non-null int64
Course                        1044 non-null object
dtypes: bool(8), int64(16), object(10)
memory usage: 220.3+ KB

In [87]:
df_clean.describe()

,Age,ParentsCohabitationStatus,MothersEducation,ParentsCohabitationStatus,TravelTime,StudyTime,Failures,FamilyRelationshipsQuality,FreeTime,GoOutWithFriends,WorkdayAlcoholConsumption,WeekendAlcoholCOnsumption,Health,Absences,FirstPeriodGrade,SecondPeriodGrade,ThirdPeriodGrade
count,1044.000000,1044,1044.000000,1044.000000,1044.000000,1044.000000,1044.000000,1044.000000,1044.000000,1044.000000,1044.000000,1044.000000,1044.000000,1044.000000,1044.000000,1044.000000,1044.000000
unique,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,NaN,T,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,923,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,16.726054,NaN,2.603448,2.387931,1.522989,1.970307,0.264368,3.935824,3.201149,3.156130,1.494253,2.284483,3.543103,4.434866,11.213602,11.246169,11.341954
std,1.239975,NaN,1.124907,1.099938,0.731727,0.834353,0.656142,0.933401,1.031507,1.152575,0.911714,1.285105,1.424703,6.210017,2.983394,3.285071,3.864796
min,15.000000,NaN,0.000000,0.000000,1.000000,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,16.000000,NaN,2.000000,1.000000,1.000000,1.000000,0.000000,4.000000,3.000000,2.000000,1.000000,1.000000,3.000000,0.000000,9.000000,9.000000,10.000000
50%,17.000000,NaN,3.000000,2.000000,1.000000,2.000000,0.000000,4.000000,3.000000,3.000000,1.000000,2.000000,4.000000,2.000000,11.000000,11.000000,11.000000
75%,18.000000,NaN,4.000000,3.000000,2.000000,2.000000,0.000000,5.000000,4.000000,4.000000,2.000000,3.000000,5.000000,6.000000,13.000000,13.000000,14.000000
max,22.000000,NaN,4.000000,4.000000,4.000000,4.000000,3.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,75.000000,19.000000,19.000000,20.000000

In [94]:
df_clean.MothersJob.value_counts()

other       399
services    239
at_home     194
teacher     130
health       82
Name: MothersJob, dtype: int64

In [95]:
df_clean.School.value_counts()

GP    772
MS    272
Name: School, dtype: int64

# Store

In [96]:
# csv name
csv_out = "student_clean.csv"

df_clean.to_csv(csv_out, index = False)

# Source

Dataset source : www.kaggle.com